<div class="mx-auto block mb-8 pt-12 text-center">
  <img class="mx-auto" src="images/bones_logo.png" alt="bones theme logo" />
  <h1 class="leading-5 font-bold text-gray-900 mt-4 text-2xl">Instance name</h1>
</div>
